<div class="mx-auto p-3 bg-blue-500">
  <nav class="flex justify-between">

    <div><%= link_to 'Home', root_path %></div>

    <ul class="flex flex-row">
      <%= user_navigation_bar_links %>
    </ul>

  </nav>
</div>